@using Microsoft.AspNetCore.Identity;
@model IQueryable<IdentityUser>;

<h1>All Meditators</h1>
<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Email</th>
		<th>Password</th>
		<th>Update</th>
		<th>Delete</th>
	</tr>
	@foreach(IdentityUser u in Model)
	{
		<tr>
			<td>@u.Id</td>
			<td>@u.UserName</td>
			<td>@u.Email</td>
			<td>@u.PasswordHash</td>
			<td>
				<button class="btn btn-primary" asp-route-id="@u.Id" asp-controller="Admin" asp-action="Update">Update</button>
			</td>
			<td>
				<button class="btn btn-warning" asp-route-id="@u.Id" asp-controller="Admin" asp-action="Delete">Delete</button>
			</td>
		</tr>
		
	}

</table>