@using Arm_mo.Models.ViewModels;
@model VMMeditatorProfilePictures;

<h2>@ViewBag.title</h2>
<div>
    <div class="form-group">
        <label for="meditatorId">meditatorId</label>
        <input disabled class="form-control" type="text" name="meditatorId" value="@Model.meditator.MeditatorId">
    </div>

    <div class="form-group">
        <label for="firstName">firstName</label>
        <input disabled class="form-control" type="text" name="firstName" value="@Model.meditator.FirstName">
    </div>

    <div class="form-group">
        <label for="lastName">lastName</label>
        <input disabled class="form-control" type="text" name="lastName" value="@Model.meditator.LastName">
    </div>

    <div class="form-group">
        <label for="username">username</label>
        <input disabled class="form-control" type="text" name="username" value="@Model.meditator.Username">
    </div>

    <div class="form-group">
        <label for="currentStage">currentStage</label>
        <input disabled class="form-control" type="text" name="currentStage" value="@Model.meditator.CurrentStage">
    </div>
    @* <div class="form-group">
        <label for="profilePicture">profilePicture</label>
        <input disabled class="form-control" type="text" name="profilePicture" value="@Model.meditator.profilePictureFormFile.FileName">
    </div> *@
    <div class="form-group">
        <label for="profilePicture">Multiple Profile Pictures</label>
        @foreach (var pp in @Model.meditator.profilePicturesFormFile)
        {
            <input disabled class="form-control" type="text" name="profilePicture" value="@pp.FileName">
        }
    </div>
</div>

