@{
    List<Meditator> meditatorsData = ViewData["Meditators"] as List<Meditator>;
    List<Meditator> meditatorsBag = ViewBag.Meditators;
}
<h2>
    @ViewData["Title"]
</h2>
<table class="table table-striped">

    <tr>
        <th>
            Id
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Username
        </th>
        <th>
            Current Stage
        </th>
        <th>
            Profile Picture
        </th>
    </tr>
        @foreach (var meditator in meditatorsData){
        <tr>
            <td>
                @meditator.MeditatorId
            </td>
            <td>
                @meditator.FirstName
            </td>
            <td>
                @meditator.LastName
            </td>
            <td>
                @meditator.Username
            </td>
            <td>
                @meditator.CurrentStage
            </td>
            <td>
                @*@if (meditator.profilePictureFormFile.FileName != null)
                {
                    @meditator.profilePictureFormFile.FileName;
                }*@
            </td>
        </tr>
        }
</table>
